<header class="card.painel lime darken-1">
        <h1 class='center-align'>{{title}}{{creditos}}</h1> 
 </header>
    <main class='container center-align'>
      <section>
        <img src='/assets/img/dog2.jpg' class='circle responsive-img' />
        <img src='/assets/img/cao.jpg' class='circle responsive-img' />
        <img src='/assets/img/panda.jpg' class='circle responsive-img' />
        <img src='/assets/img/girafa.jpg' class='circle responsive-img' />
        <img src='/assets/img/leao.jpg' class='circle responsive-img' />
        <img src='/assets/img/macacori.jpg' class='circle responsive-img' />
        <img src='/assets/img/macacocontando.jpg' class='circle responsive-img' />
        <img src='/assets/img/preguica.jpg' class='circle responsive-img' />
        <img src='/assets/img/coelhogato.jpg' class='circle responsive-img' />
        <img src='/assets/img/tarados.jpg' class='circle responsive-img' />
        <img src='/assets/img/tatoo.jpg' class='circle responsive-img' />
        <img src='/assets/img/tigre.jpg' class='circle responsive-img' />
        <img src='/assets/img/hipo.jpg' class='circle responsive-img' />
        <img src='/assets/img/inocente.jpg' class='circle responsive-img' />
        <div class="col m6">
          <img src='/assets/img/rinozebra.jpg' class='circle responsive-img' />
          <img src='/assets/img/aguia.jpg' class='circle responsive-img' />
          <img src='/assets/img/alpaca.jpg' class='circle responsive-img' />
          <img src='/assets/img/alcedoido.jpg' class='circle responsive-img' />
        </div>
      </section>
    </main>
<footer>
    
</footer>

